body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: linear-gradient(to right, #eef2f7, #f8fafc); ;
  color: #333;
}

header {
  background: #1f2933;
  color: white;
  text-align: center;
  padding: 40px 20px;
}

section {
  background: white;
  margin: 20px auto;
  padding: 20px;
  max-width: 900px;
  border-radius: 10px;
}

h2 {
  color: #1f2933;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
}

ul {
  list-style-type: square;
}

.card {
  background: #f0f4f8;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skills li {
  list-style: none;
  background: #1f2933;
  color: white;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 14px;
}

footer {
  text-align: center;
  padding: 15px;
  background: #1f2933;
  color: white;
}
